@model AGAB.Models.Chapter

<h2>Add a new chapter</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Chapters"))
{

    <input type="hidden" name="ArticleId" value="@ViewBag.IdCap" />



    @Html.Label("ChapterName", "Chapter Title")
    <br />
    @Html.TextBox("ChapterName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ChapterName, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Content", "Content")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-sm btn-success" type="submit">Add Chapter</button>
}

