@model AGAB.Models.Category

<h2>Edit Category</h2>

<form method="post" action="/Categories/Edit/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CategoryId)

    @Html.Label("CategoryName", "Category Name")
    <br />
    @Html.Editor("CategoryName")
    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-success" type="submit">Modify category</button>
</form>

